h1{
    background-color: red;
    color:blue;
    text-align: center;
}
a{
    background-color: blue;
    color: green;
    font-size: 30px;
}
h3{
    color:purple;
    font-family: sans-serif;
}
.big{
    background-color: silver;
}