h1{
    background-color: red;
    color:blue;
    text-align: center;
}
a{
    background-color: blue;
    color: green;
    font-size: 30px;
}
h3{
    color:purple;
    font-family: sans-serif;
    font-size: 50px;
}
.big{
    background-color: silver;
    padding: 20px;
}
li{
    padding: 2px;
}
p{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-family: "Brush Script MT";
}